<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Generate Ticket</title>
    <style>
      /* Import Montserrat from Google Fonts */
      @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

      body {
        font-family: "Montserrat", sans-serif;
        color: #fff;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background: url("https://images.pexels.com/photos/18327490/pexels-photo-18327490/free-photo-of-multi-colored-labels-screening-on-standing-man-in-eyeglasses.jpeg?auto=compress&cs=tinysrgb&w=600")
          no-repeat center center fixed;
        background-size: cover;
        backdrop-filter: blur(5px);
      }
      .container {
        background-color: rgba(0, 0, 0, 0.6);
        padding: 30px 40px;
        border-radius: 15px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
        width: 100%;
        max-width: 450px;
      }

      label {
        display: block;
        margin: 15px 0 5px;
        font-size: 1.1em;
        font-weight: bold;
        color: #fff;
      }
      input[type="text"],
      input[type="datetime-local"],
      input[type="file"],
      input[type="number"] {
        width: 100%;
        padding: 12px;
        margin-bottom: 20px;
        border: none;
        border-radius: 8px;
        font-size: 1em;
        background-color: #f8f9fa;
        color: #333;
        transition: transform 0.2s ease-in-out;
      }
      input[type="text"]:focus,
      input[type="datetime-local"]:focus,
      input[type="file"]:focus,
      input[type="number"]:focus {
        outline: none;
        transform: scale(1.02);
      }
      button {
        background-color: #ff7675;
        color: white;
        border: none;
        padding: 12px 30px;
        border-radius: 8px;
        cursor: pointer;
        font-size: 1.2em;
        font-weight: bold;
        transition: background-color 0.3s ease, transform 0.3s ease;
        width: 95%;
        margin: 0 2.5%;
      }
      button:hover {
        background-color: #d63031;
        transform: translateY(-3px);
      }
      .message {
        margin-bottom: 20px;
        color: #ffeaa7;
        font-size: 1.1em;
      }
      @media (max-width: 768px) {
        h1 {
          font-size: 2em;
        }
        input[type="text"],
        input[type="datetime-local"],
        input[type="file"],
        input[type="number"] {
          padding: 10px;
        }
        button {
          font-size: 1.1em;
          padding: 10px 20px;
        }
      }
    </style>
  </head>
  <body>
    <div class="container">
      <% if (typeof msg !== 'undefined') { %>
      <p class="message"><%= msg %></p>
      <% } %>
      <form action="/generate" method="POST" enctype="multipart/form-data">
        <label>Title:</label>
        <input type="text" name="title" required />

        <label>Early Bird or Presold</label>
        <input
          placeholder="Eg. Early Bird $1500"
          type="text"
          name="eb_ps"
          required
        />

        <label>Date:</label>
        <input type="datetime-local" name="date" required />

        <label>Location:</label>
        <input type="text" name="location" required />

        <label>Background Image:</label>
        <input type="file" name="backgroundImage" required />

        <label for="eventLogo">Event Logo:</label>
        <input
          type="file"
          id="eventLogo"
          name="eventLogo"
          accept="image/*"
          required
        />

        <label for="numTickets">Number of Tickets:</label>
        <input
          type="number"
          id="numTickets"
          name="numTickets"
          min="1"
          required
        />

        <button type="submit">Generate Ticket</button>
      </form>
    </div>
  </body>
</html>
